<div style="position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;z-index: 10000;"
     *ngIf="showBusyIndicator"
     [nbSpinner]="true"
     nbSpinnerMessage="Updating Logo and Social Information"
     nbSpinnerStatus="primary"></div>

<nb-card>
  <nb-card-header>Student Admission</nb-card-header>
  <nb-card-body>
    <form #studentAdmission="ngForm" class="row">
      <!--School Name-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Season <span class="text-danger font-w-bold">*</span></label>
          <select name="season" [(ngModel)]="data['season']"  class="form-control" placeholder="Currency Icon">
            <option *ngFor="let option of (optionsSection|async)" [value]="option.key" [innerHTML]="option.startDate+' - '+option.endDate"></option>
          </select>
        </div>
      </div>

      <!--School Moto-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Admission Number</label>
          <input type="text" name="admissionNumber" [(ngModel)]="data['admissionNumber']"  class="form-control"
                 placeholder="Admission Number">
        </div>
      </div>

      <!--Class-->
      <div class="col-xs-6 col-sm-3">
        <div class="form-group">
          <label>Class <span class="text-danger font-w-bold">*</span></label>
          <select name="class" [(ngModel)]="data['class']"  class="form-control" placeholder="Class">
            <option *ngFor="let option of (optionsSection|async)" [value]="option.key" [innerHTML]="option.sessionName"></option>
          </select>
        </div>
      </div>

      <!--Section-->
      <div class="col-xs-6 col-sm-3">
        <div class="form-group">
          <label>Sections <span class="text-danger font-w-bold">*</span></label>
          <select name="section" [(ngModel)]="data['section']" class="form-control" placeholder="Class">
            <option *ngFor="let option of (optionsSection|async)" [value]="option.key"
                    [innerHTML]="option.sessionType"></option>
          </select>
        </div>
      </div>

      <!--Gender-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Gender <span class="text-danger font-w-bold">*</span></label>
          <select name="gender" [(ngModel)]="data['gender']"  class="form-control" placeholder="Gender">
            <option *ngFor="let option of optionsGender" [value]="option.id" [innerHTML]="option.label"></option>
          </select>
        </div>
      </div>

      <!--Date Of Registration-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Date of Registration <span class="text-danger font-w-bold">*</span></label>
          <input required type="date" name="dateofRegistration" [(ngModel)]="data['dateofRegistration']"
                 class="form-control" placeholder="Date of Registration">
        </div>
      </div>

      <!--Fee Effective From-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Fee Effective From <span class="text-danger font-w-bold">*</span></label>
          <input required type="date" name="feeEffectiveFrom" [(ngModel)]="data['feeEffectiveFrom']"
                 class="form-control" placeholder="Fee Effective From">
        </div>
      </div>

      <!--Student Name-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Student Name</label>
          <input type="text" name="studentName" [(ngModel)]="data['studentName']" class="form-control"
                 placeholder="Student Name">
        </div>
      </div>

      <!--Father Name-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Father Name</label>
          <input type="text" name="fatherName" [(ngModel)]="data['fatherName']"  class="form-control"
                 placeholder="Father Name">
        </div>
      </div>

      <!--Moteher Name-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Mother Name</label>
          <input type="text" name="motherName" [(ngModel)]="data['motherName']"  class="form-control"
                 placeholder="Mother Name">
        </div>
      </div>

      <!--Mobile-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Mobile <span class="text-danger font-w-bold">*</span></label>
          <input type="text"
                 required
                 name="mobile"
                 #mobile="ngModel"
                 pattern="^((\\+91-?)|0)?[0-9]{10}$"
                 [(ngModel)]="data['mobile']"
                 class="form-control"
                 mask=" 000 000 0000"
                 prefix="+91"
                 [showMaskTyped] = "true"
                 placeholder="Mobile">
          <small [class]="mobile.valid?'text-muted':'text-muted text-danger'">10 digits Mobile Number.</small>
        </div>
      </div>

      <!--Email-->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Email<span class="text-danger font-w-bold">*</span></label>
          <input type="email"
                 email
                 required
                 name="email"
                 [(ngModel)]="data['email']"
                 class="form-control"
                 placeholder="Email">
        </div>
      </div>



      <!--Button-->
      <div class="col-12 text-right">
        <button (click)="onSubmitButtonClick()"
                [disabled]="studentAdmission.invalid"
                type="button"
                class="btn btn-primary">Save</button>
        <p class="text-danger mt-3">Provide valid & required<span>*</span> information</p>
      </div>
    </form>


  </nb-card-body>
</nb-card>
