<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Basic Information">
        <ngx-basic-information></ngx-basic-information>
      </nb-tab>
      <nb-tab tabTitle="Logo and Social">
        <ngx-logo-and-social></ngx-logo-and-social>
      </nb-tab>
      <nb-tab tabTitle="Contact Information">
        <ngx-contact-information></ngx-contact-information>
      </nb-tab>
      <nb-tab tabTitle="Global Settings" [active]="true">
        <ngx-global-settings></ngx-global-settings>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
