<nb-card>
  <nb-card-header>Transport / Transport Master Entry</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <nb-card class="add-route-container">
          <nb-card-header>Add Route To</nb-card-header>
          <nb-card-body>
            <form #transportMasterEntryForm="ngForm" class="col-12">
              <!--School Name-->
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Route To <span class="text-danger font-w-bold">*</span></label>
                  <input name="routeTo" [(ngModel)]="data['routeTo']" required type="text" class="form-control"
                         placeholder="Route To">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label>Status</label>
                  <br>
                  <label class="mr-3 mt-3"><input style="transform: scale(1.5,1.5);" type="checkbox" name="isActive" value="disabled" [(ngModel)]="data['isActive']"> &nbsp;Active</label>
                </div>
              </div>
              <div class="col-12 text-right">
                <button (click)="onTransportMasterEntryFormClick(transportMasterEntryForm)"
                        [disabled]="transportMasterEntryForm.invalid"
                        type="button"
                        class="btn btn-primary">Save
                </button>
                <p class="text-danger mt-3">Provide valid & required<span>*</span> information</p>
              </div>
            </form>

          </nb-card-body>
          </nb-card>

      </div>

      <div class="col-xs-12 col-sm-6">
        <nb-card>

        <nb-card-header>Listing ALL Route To</nb-card-header>
          <nb-card-body class="p-0">
            <ag-grid-angular
              style="height: 300px;"
              enableSorting="true"
              enableFilter= "true"
              enableColResize=" true"
              suppressMenuHide=" true"
              [pagination]="true"
              [paginationPageSize]= 7
              editable=" true "
              floatingFilter = "true"
              class="ag-theme-balham col-12 p-0"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              (cellValueChanged)="onCellValueChanged($event)"

            >
            </ag-grid-angular>

          </nb-card-body>
          </nb-card>

      </div>
    </div>

  </nb-card-body>
</nb-card>
