<nb-card>
  <nb-card-header>Class & Section</nb-card-header>
  <nb-card-body>
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Manage Class</h4>
            <div class="card">
              <div class="card-body">
                <button class="btn btn-primary mr-3" type="button">Add Class</button>
                <button class="btn btn-primary mr-3" type="button">Save</button>
                <a class="card-link" href="#">Add Class Teacher</a>
              </div>
              <div class="card">
                <div class="card-body">
                  <!--One-->
                  <div class="card mb-2">
                      <div class="card-header" role="tab">
                        <span class="badge badge-danger mr-3"><i class="fa fa-minus"></i></span>
                        <input type="text" class=" form-control section-input mr-3">
                        <button class="btn btn-primary btn-warning mr-3" type="button">Add Section</button>
                        <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                      </div>

                        <div class="card-body ">
                          <div class="card-header mb-2 " role="tab">

                              <input type="text" class="form-control  section-input ml-3 mr-3">
                              <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                          </div>
                          <div class="card-header " role="tab">

                              <input type="text" class="form-control  section-input ml-3 mr-3">
                              <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                          </div>

                        </div>

                    </div>
                  <!--Two-->
                  <div class="card mb-2">
                    <div class="card-header" role="tab">
                      <span class="badge  badge-success mr-3"><i class="fa fa-plus"></i></span>
                      <input type="text" class=" form-control section-input mr-3">
                      <button class="btn btn-primary btn-warning mr-3" type="button">Add Section</button>
                      <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                    </div>

                    <div class="card-body  " style="display: none">
                      <div class="card-header mb-2 " role="tab">

                          <input type="text" class="form-control  section-input ml-3 mr-3">
                          <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                      </div>
                      <div class="card-header " role="tab">

                          <input type="text" class="form-control  section-input ml-3 mr-3">
                          <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                      </div>

                    </div>

                  </div>
                  <!--Three-->
                  <div class="card mb-2">
                    <div class="card-header" role="tab">
                      <span class="badge  badge-danger mr-3"><i class="fa fa-minus"></i></span>
                      <input type="text" class=" form-control section-input mr-3">
                      <button class="btn btn-primary btn-warning mr-3" type="button">Add Section</button>
                      <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                    </div>

                    <div class="card-body ">
                      <div class="card-header mb-2 " role="tab">

                          <input type="text" class="form-control  section-input ml-3 mr-3">
                          <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                      </div>

                    </div>

                  </div>
                  <!--four-->
                  <div class="card mb-2">
                    <div class="card-header" role="tab">
                      <span class="badge  badge-success mr-3"><i class="fa fa-plus"></i></span>
                      <input type="text" class=" form-control section-input mr-3">
                      <button class="btn btn-primary btn-warning mr-3" type="button">Add Section</button>
                      <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                    </div>

                    <div class="card-body " style="display: none">
                      <div class="card-header mb-2 " role="tab">

                          <input type="text" class="form-control  section-input ml-3 mr-3">
                          <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>

                      </div>
                      <div class="card-header " role="tab">
                        <div class="ml-3">
                          <input type="text" class="form-control  section-input ml-5 mr-3">
                          <button class="btn btn-primary btn-danger " type="button"><i class="fa fa-trash"></i> </button>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </nb-card-body>
</nb-card>
