<div style="position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;z-index: 10000;"
     *ngIf="showBusyIndicator"
     [nbSpinner]="true"
     nbSpinnerMessage="Updating Global Settings Information"
     nbSpinnerStatus="primary"></div>

<form #basicInformationForm="ngForm">
  <div class="row">
    <!--SOD (Start of the Day)-->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>SOD (Start of the Day) <span class="text-danger font-w-bold">*</span></label>
        <input name="startOfTheDay" [(ngModel)]="data['startOfTheDay']" required type="time" class="form-control" placeholder="SOD (Start of the Day)">
      </div>
    </div>

    <!--EOD (End of the Day)-->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>EOD (End of the Day) <span class="text-danger font-w-bold">*</span></label>
        <input name="endOfTheDay" [(ngModel)]="data['endOfTheDay']" required type="time" class="form-control" placeholder="EOD (End of the Day)">
      </div>
    </div>

    <!--Currency Icon-->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Currency Icon</label>
        <select name="currencyIcon" [(ngModel)]="data['currencyIcon']" class="form-control" placeholder="Currency Icon">
          <option *ngFor="let option of currencyOptions" [value]="option.id" [innerHTML]="option.display"></option>
        </select>
      </div>
    </div>

    <!--Print Computer Generated Copy-->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Print Computer Generated Copy</label>
        <br>
        <label class="mr-3 mt-3"><input style="transform: scale(1.5,1.5);" type="radio" name="printComputerGeneratedCopy" value="enabled" [(ngModel)]="data['printComputerGeneratedCopy']"> &nbsp; Enabled</label>
        <label class="mr-3 mt-3"><input style="transform: scale(1.5,1.5);" type="radio" name="printComputerGeneratedCopy" value="disabled" [(ngModel)]="data['printComputerGeneratedCopy']"> &nbsp; Disabled</label>
      </div>
    </div>

    <!--Time Zone-->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Time Zone</label>
        <select name="timeZone" [(ngModel)]="data['timeZone']" class="form-control" placeholder="Time Zone">
          <option *ngFor="let option of timeZoneOptions" [value]="option.id" [innerHTML]="option.display+' - '+option.offset">Indian Standard Time (UTC+05:30)</option>
        </select>
      </div>
    </div>

    <!--Button-->
    <div class="col-12 text-right">
      <button (click)="onSubmitButtonClick(basicInformationForm)"
              [disabled]="basicInformationForm.invalid"
              type="button"
              class="btn btn-primary">Save</button>
      <p class="text-danger mt-3">Provide valid & required<span>*</span> information</p>
    </div>
  </div>
</form>
