<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Gender">
        <ngx-gender-manager></ngx-gender-manager>
      </nb-tab>
      <nb-tab tabTitle="Category">
        <ngx-category-manager></ngx-category-manager>
      </nb-tab>
      <nb-tab tabTitle="Blood Group">
        <ngx-blood-group-manager></ngx-blood-group-manager>
      </nb-tab>
      <nb-tab tabTitle="Document">
        <ngx-document-manager></ngx-document-manager>
      </nb-tab>
      <nb-tab tabTitle="Caste">
        <ngx-caste-manager></ngx-caste-manager>
      </nb-tab>
      <nb-tab tabTitle="Termination Reason">
        <ngx-reason-manager></ngx-reason-manager>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<!--
BloodGroupManager
-->
