<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Gender">
        <ngx-firebase-single-list itemName="Gender" tableName="gender"></ngx-firebase-single-list>
      </nb-tab>
      <nb-tab tabTitle="Category">
        <ngx-firebase-single-list itemName="Category" tableName="category"></ngx-firebase-single-list>
      </nb-tab>
      <nb-tab tabTitle="Blood Group">
        <ngx-firebase-single-list itemName="Blood Group" tableName="bloodGroup"></ngx-firebase-single-list>
      </nb-tab>
      <nb-tab tabTitle="Document">
        <ngx-firebase-single-list itemName="Document" tableName="documents"></ngx-firebase-single-list>
      </nb-tab>
      <nb-tab tabTitle="Caste">
        <ngx-firebase-single-list itemName="Caste" tableName="caste"></ngx-firebase-single-list>
      </nb-tab>
      <nb-tab tabTitle="Termination Reason">
        <ngx-firebase-single-list itemName="Reason" tableName="reason"></ngx-firebase-single-list>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<!--
BloodGroupManager
-->
