<div style="position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;z-index: 10000;"
     *ngIf="showBusyIndicator"
     [nbSpinner]="true"
     nbSpinnerMessage="Saving Basic Information"
     nbSpinnerStatus="primary"></div>
<form #basicInformationForm="ngForm" class="row">
  <!--School Name-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>School Name <span class="text-danger font-w-bold">*</span></label>
      <input name="schoolName" [(ngModel)]="data['schoolName']" required type="text" class="form-control" placeholder="School Name">
    </div>
  </div>

  <!--School Moto-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>School Moto</label>
      <input type="text" name="schoolMoto" [(ngModel)]="data['schoolMoto']" class="form-control"
             placeholder="School Moto">
    </div>
  </div>

  <!--Software Starting Date-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Software Starting Date</label>
      <input disabled type="text" name="softwareStartingDate" [(ngModel)]="data['softwareStartingDate']"
             class="form-control" placeholder="Software Starting Date">
    </div>
  </div>

  <!--Affiliated By-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Affiliated By</label>
      <input type="text" class="form-control" name="affiliatedBy" [(ngModel)]="data['affiliatedBy']"
             placeholder="Affiliated By">
    </div>
  </div>

  <!--Registration No-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Registration No</label>
      <input type="text" class="form-control" name="registrationNo" [(ngModel)]="data['registrationNo']"
             placeholder="Registration No">
    </div>
  </div>

  <!--Affiliation No-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Affiliation No</label>
      <input type="text" class="form-control" name="affiliationNo" [(ngModel)]="data['affiliationNo']"
             placeholder="Affiliation No">
    </div>
  </div>

  <!--Date of Establishment-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Date of Establishment <span class="text-danger font-w-bold">*</span></label>
      <input required type="date" name="dateOfEstablishment" [(ngModel)]="data['dateOfEstablishment']"
             class="form-control" placeholder="Date of Establishment">
    </div>
  </div>

  <!--Board-->
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Board <span class="text-danger font-w-bold">*</span></label>
      <input required type="text" name="bord" [(ngModel)]="data['bord']" class="form-control" placeholder="Board">
    </div>
  </div>

  <!--Button-->
  <div class="col-12 text-right">
    <button (click)="onSubmitButtonClick(basicInformationForm)"
            [disabled]="basicInformationForm.invalid"
            type="button"
            class="btn btn-primary">Save
    </button>
    <p class="text-danger mt-3">Provide valid & required<span>*</span> information</p>
  </div>
</form>
